# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$(function(){
  // AmazonAPIで検索するサーバー側にデータを渡し、返ってきたデータを表示するメソッド
  // 一文字ずつ検索してしまうことを防ぐために、入力後一定時間入力がない場合にajaxが動作するようにしている
  function search(keyword){
    if (globalTimeout != null) {
      clearTimeout(globalTimeout);
    }
    globalTimeout = setTimeout(function() {
      globalTimeout = null;
      // キーワードに入力がないときは検索せず、検索結果を非表示にする
      if (keyword === ''){
        $(`#items`).css('display','none');
        return false
      };
      $.ajax({
        url: '/search',
        type: 'GET',
        dataType: 'json',
        async: true,
        data: {keyword: keyword},
      }).done(function(data){
        $(`#items`).css('display','');
        $(`#items`).html(data.content);
      });
    }, 700); // 何ms後に検索するかはここで設定
  }

  // 入力フォームに入力があった場合にseachメソッドを呼び出す
  var globalTimeout = null;
  $('#keyword').keyup(function() {
    var keyword = $("#keyword").val();
    search(keyword);
  });

  // 本棚をシェアボタンが押された時に、シェア用の画像を生成する
  $("#save-button").on("click", function () {
    // 処理前にLoading 画像を表示
    dispLoading('シェア準備中');

    // 画像を識別するために、画像固有のランダムな文字列を付与
    // 生成する文字列の長さ
    var l = 8;
    // 生成する文字列に含める文字をセット
    var c = "abcdefghijklmnopqrstuvwxyz0123456789";
    var cl = c.length;
    var hash = "";
    for(var i=0; i<l; i++){
      hash += c[Math.floor(Math.random()*cl)];
    }

    // html2canvasというライブラリを使用
    html2canvas($('.preview').get(0), {
      proxy: true,
      useCORS: true
    }).then( function (canvas) {
      var imgData = canvas.toDataURL();

      // サーバー側で、画像をS3へ保存
      $.ajax({
        url: '/make',
        type: 'POST',
        dataType: 'json',
        async: true,
        data: {imgData: imgData, hash: hash},
      }).done(function(data){
        var environment = data[0];
        removeLoading();
        // SweatAlert2という綺麗なダイアログを出せるライブラリを使用
        Swal.fire({
          type: 'success',
          text: '↓Let\'s share↓',
          #[アプリ名]に入力
          imageUrl: `https://s3-ap-northeast-1.amazonaws.com/ourprotein-${environment}/images/${hash}.png`,
          imageWidth: 315,
          imageAlt: 'Custom image',
          showConfirmButton: false,
          showCloseButton: true,
          #[アプリ名]に入力、Twitterシェアはそのまま
          footer: `<a href=https://twitter.com/share?text=%23[ハッシュタグ名]&url=https://ourprotein.herokuapp.com?h=${hash}>Twitterシェア</a>`,
        })
      }).fail( function(data) {
        removeLoading();
        Swal.fire({
          type: 'error',
          title: '画像作成に失敗しました...(; ;)',
          text: 'もう一度ボタンを押してみてください(> <)',
        })
      });
    });
  });

  // Loading イメージ表示メソッド
  function dispLoading(msg){
    var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
    $("body").append("<div id='loading'>" + dispMsg + "</div>");
  }
  // Loading イメージ削除メソッド
  function removeLoading(){
    $("#loading").remove();
  }
});