<% books&.each do |book| %>
  <% if book[:image].present? %>
    <div class="item" data-src="<%= book[:image] %>" data-url="<%= book[:url] %>">
      <div class='item-img'>
        <%= image_tag book[:image], width: '55px' %>
      </div>
      <div class='item-title'>
        <%= book[:title] %>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  // 本棚にプレビュー表示させるためのメソッド
  function preview_image(url, src, title){
    $(`#preview_image`).attr("src", src);
    $(`#preview_url`).attr("href", url);
  }

  // 検索結果がクリックされた時に↑のメソッドが動くようにする
  $(".item").on("click", function () {
    preview_image($(this).data('url'), $(this).data('src'));
    // 検索結果の非表示化
    $(`#items`).css('display','none');
    // 本棚をシェアするボタンの表示
    $('#confirmation-button').css('display','');
    // 入力フォームを空にする
    $('#keyword').val('');
});
</script>